body {
	margin: 0;
	font-family: Roboto Condensed;
}
.topo {
	width: 100%;
	height: 100px;
}
.topoint {
	width: 100%;
	max-width: 1175px;
	height: 100px;
	background-color: white;
	margin: auto;
	border-left: 1px solid #4169E1;
}
.logo {
	width: 300px;
	height: 100px;
	float: left;
}
.menu {
	width: 875px;
	height: 100px;
	float: right;
	line-height: 100px;
	font-size: 18px;
}
.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li {
	float: left;
	margin-left: 53px;
}
.menu a {
	text-decoration: none;
	color: #4169E1;
	padding: 10px;
	border: 1px solid #4169E1;
}
.menu a:hover {
	background-color: #4169E1;
	color: white;
	padding: 10px;
	border: 1px solid white;
}
.menu a.active {
	background-color: #4169E1;
	color: white;
	padding: 10px;
	border: 1px solid white;
}
.entcontact {
	width: 100%;
	height: 500px;
}
.entcontactint {
	width: 100%;
	height: 500px;
	margin: auto;
	max-width: 1175px;
	text-align: center;
	border-top: 1px solid #4169E1;
	border-right: 1px solid #4169E1;
}
.entcontactint h1 {
	margin: 0;
	padding: 0;
}
form {
	margin: auto;
	width: 400px;
	height: 300px;
	padding-top: 30px;
	border: 1px solid #4169E1;
	border-radius: 20px;
}
form input {
	outline: none;
	border-radius: 10px;
	border: 1px solid #4169E1;
	text-align: center;
}
form textarea {
	outline: none;
	overflow: scroll;
	border-radius: 10px;
	border: 1px solid #4169E1;
	text-align: center;
}
.contact {
	width: 100%;
	height: 170px;
}
.contactint {
	width: 100%;
	height: 170px;
	margin: auto;
	max-width: 1175px;
	text-align: center;
	border-top: 1px solid #4169E1;
	border-left: 1px solid #4169E1;
}
.contactint h3 {
	padding: 0;
	margin: 0;
}

.rodape {
	width: 100%;
	height: 100px;
}
.rodapeint {
	width: 100%;
	max-width: 1175px;
	height: 100px;
	background-color: white;
	margin: auto;
	text-align: center;
	line-height: 100px;
	font-size: 20px;
	color: black;
	border-top: 1px solid #4169E1;
	border-right: 1px solid #4169E1;
}

@media screen and (min-width: 988px) and (max-width: 1024px) {
	.topoint {
		max-width: 988px;
	}
	.logo {
		width: 244px;
	}
	.menu {
		width: 744px;
	}
	.entcontactint {
		max-width: 988px;
	}
	.contactint {
		max-width: 988px;
	}
	.rodapeint {
		max-width: 988px;
	}
}

@media screen and (min-width: 425px) and (max-width: 986px) {
	.topo {
		height: 190px;
	}
	.topoint {
		max-width: 768px;
		height: 190px;
	}
	.logo {
		width: 768px;
		float: none;
		text-align: center;
	}
	
	.menu {
		width: 773px;
		float: none;
	}
	.entcontactint {
		width: 768px;
	}
	.contactint {
		width: 768px;
	}
	.rodapeint {
		max-width: 768px;
	}
}

@media screen and (max-width: 420px) {
	.topo {
		height: 194px;
	}
	.topoint {
		max-width: 325px;
		height: 194px;
	}
	.menu {
		width: 304px;
		font-size: 13px;
		line-height: 42px;
	}
	.menu li {
		margin-left: 16px;
	}
	.entcontactint {
		max-width: 325px;
	}
	form {
		width: 223px;
	}
	.contactint {
		max-width: 325px;
	}
	.rodapeint {
		max-width: 325px;
		font-size: 14px;
	}
}